ul,ol{
    list-style: none;
}
nav{




    background:linear-gradient(to right) to rightbackground: #40E0D0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FF0080, #FF8C00, #40E0D0);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FF0080, #FF8C00, #40E0D0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 
 
    ;

text-align: center;
padding:10px;

}
nav ul li{

    display: inline-block;
}

nav ul li a{

transition: 0.2s;
    text-decoration: none;
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding: 13px 25px;display: block;
    color: azure;
    display: block;
  text-transform:uppercase; 
  

}

 nav ul li a:hover{
    background-color: rgb(190, 78, 132);
 } 

 input [type=placeholder]{
    padding: 6px;
    font-size: 17px;
 }

